html {
	background-color: #7a23c2;
}

h1 {
	color: red;
}

h2 {
	color: orange;
}

p1 {
	border-width: 1px; 
	border-style: dotted; 
	border-color: black;
}

p4 {
	color: mediumaquamarine;
}
